<section id="about" class="about">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
       <h2>Ми доставляємо:</h2>
        <hr class="small">
         <div class="row">

           <div class="col-md-4 col-sm-6">

             <div class="service-item">
               <span class="fa-stack fa-4x wow bounceIn">
               <i class="fa fa-circle fa-stack-2x"></i>
               <i class="fa fa-file-text fa-stack-1x text-primary" style="color: white"></i>
             </span>
               <h4>
                 <strong>Документи</strong>
               </h4>

             </div>
           </div>

           <div class="col-md-4 col-sm-6">

             <div class="service-item">
               <span class="fa-stack fa-4x wow bounceIn">
               <i class="fa fa-circle fa-stack-2x"></i>
               <i class="fa fa-envelope fa-stack-1x text-primary" style="color: white"></i>
             </span>
               <h4>
                 <strong>Листи</strong>
               </h4>

             </div>
           </div>

           <div class="col-md-4 col-sm-6">

             <div class="service-item">
               <span class="fa-stack fa-4x wow bounceIn">
               <i class="fa fa-circle fa-stack-2x"></i>
               <i class="fa fa-cutlery fa-stack-1x text-primary" style="color: white"></i>
             </span>
               <h4>
                 <strong>Продукти, їжа, напої</strong>
               </h4>

             </div>
           </div>

           <div class="col-md-4 col-sm-6">

             <div class="service-item">
               <span class="fa-stack fa-4x wow bounceIn">
               <i class="fa fa-circle fa-stack-2x"></i>
               <i class="fa fa-medkit fa-stack-1x text-primary" style="color: white"></i>
             </span>
               <h4>
                 <strong>Медикаменти</strong>
               </h4>

             </div>
           </div>

           <div class="col-md-4 col-sm-6">

             <div class="service-item">
               <span class="fa-stack fa-4x wow bounceIn">
               <i class="fa fa-circle fa-stack-2x"></i>
               <i class="fa fa-gift fa-stack-1x text-primary" style="color: white"></i>
             </span>
               <h4>
                 <strong>Подарунки, посилки, інші речі</strong>
               </h4>

             </div>
           </div>

           <div class="col-md-4 col-sm-6">

             <div class="service-item">
               <span class="fa-stack fa-4x wow bounceIn">
               <i class="fa fa-circle fa-stack-2x"></i>
               <i class="fa fa-ticket fa-stack-1x text-primary" style="color: white"></i>
             </span>
               <h4>
                 <strong>Квитки</strong>
               </h4>

             </div>
           </div>

          </div>
        </div>



       </div>
     </div>

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
